
body {
    margin: 0;
    font-family: 'YouYuan', sans-serif;
    background-color: #cacbdfd1 ;
    height: 100vh; 
    width: 100vw; 
    overflow-x: hidden;
    margin: 0 auto; /* Center the body within the viewport */
    background-image:url("images/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position: 90% 100%;

}

.topnav {
    background-color: #e3e5ffd1;
    position: relative; /* Fix the navbar to the top */
    display: flex;
    justify-content: center;
    width: 100%; /* Make it full width */
    z-index: 1000; /* Ensure it stays above other content */
    height: 7%;
    left: 50%;
    transform: translate(-50%, 0);
  }

.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

table {
  width: 100%;
  border-collapse: collapse; /* Remove space between cells */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
}
th{
  border: 1px solid #332d44; /* Green border for cells */
  padding: 15px; /* Add padding for better spacing */
  text-align: center; /* Align text to the left */
  color: #ffffff
}

td {
  border: 1px solid #332d44; /* Green border for cells */
  font-size: 15px;

  padding: 17px; /* Add padding for better spacing */
  text-align: left; /* Align text to the left */
}



td {
  background-color: #f9f9f9; /* Light gray background for cells */
}

.cover-block {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(99, 99, 99);
  opacity: 1;
  transition: opacity 0.3s;
}
.word-container {
  position: relative;
  display: inline-block;
}
.word-container:hover .cover-block {
  opacity: 0;
}

.active, .collapsible:hover {
  background-color: #ccc;
}

.content {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.collapsible:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.active, .collapsible:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}


.container {
  
  padding: 20px; /* Spacing inside the container */
  background-color: #f4f4f495; /* Light gray background */
  width: 85%; 
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Optional shadow */
  text-align: center; /* Center text inside the container */
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

.image-container {
  display: inline-block;
  text-align: center; /* Center the caption text */
  margin: 10px; /* Space between images */
  flex: 1 1 200px; /* Flexible basis for images */
  max-width: 300px; /* Maximum width for each image container */
}


.responsive-image {
  height: 500px;
  margin: 10px;
}

.icon-image{
  height: 400px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.8); /* Black background with transparency */
  justify-content: center; /* Center the modal content */
  align-items: center; /* Center the modal content */
}
.modal-content {
  max-width: 90%; /* Responsive modal content */
  max-height: 90%; /* Responsive modal content */
}
.close {
  position: absolute;
  top: 20px;
  right: 30px;
  color: white;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}

.floating-image {
  position: absolute; /* Use absolute positioning */
  height: 700px;
  top: 15%; 
  right: -50px; /* Spacing from the right edge */
  z-index: 1000; /* Ensure it's on top */
}

@media (max-width: 768px) {


  .menu-btn {
    left: 6%;
  
  }
  .floating-image {
    display: none;
  
  }

  .logo {
    height: 35px; /* Set the desired height for the logo */
  }
  .icon-image{
    height: 300px;
  }

}