html, body {
  height: 100%; /* Ensure full height for body */
  margin: 0; /* Remove default margin */
}

body {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    font-family: 'YouYuan', sans-serif;
    background-color: #cacbdfd1 ;
    background-image:url("images/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position: 90% 100%;

}

.navbar {
    background: rgba(255, 255, 255, 0.049); 
    backdrop-filter: blur(1px); /* Blur effect */
    display: flex;
    justify-content: center;
    width: 100%; /* Make it full width */
    z-index: 1000; /* Ensure it stays above other content */
    height: 6.5%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow for depth */
  }

.navbar a {
    color: #f2f2f2; /* Link color */
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
    font-size: 17px;
    position: relative; /* Position for the pseudo-element */
    transition: color 0.3s; /* Smooth color transition */
    text-shadow: 0 0 10px #a689ff, 0 0 20px #a689ff;
}
.navbar a::before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 100%;
  height: 2px; /* Border thickness */
  background-color: #a689ff; /* Border color */
  transform: translateX(-50%) scaleX(0); /* Start scaled down */
  transition: transform 0.3s; /* Smooth transition */
}
.navbar a:hover {
  color: #ffffff; /* Change text color on hover */
  text-shadow: 0 0 10px #ffffff, 0 0 20px #a689ff;
}
  
.navbar a.active {
  background: none;
  color: #fdfdfd; /* Active link color */
}

.navbar a::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -1px; /* Position the underline below the text */
  width: 100%;
  height: 3px; /* Underline thickness */
  background-color: #a689ff; /* Underline color */
  transform: translateX(-50%) scaleX(0); /* Start scaled down */
  transition: transform 0.3s; /* Smooth transition */
  box-shadow: 0 -3px 10px #a689ff, 0 0 20px #ffffff;
}
.navbar a:hover::after,
.navbar a.active::after {
  transform: translateX(-50%) scaleX(1); /* Expand underline on hover or when active */
}

table {
  width: 85%;
  margin: 0 auto;
  border-collapse: collapse; /* Remove space between cells */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
}
th{
  border: 1px solid #332d44; /* Green border for cells */
  padding: 15px; /* Add padding for better spacing */
  text-align: center; /* Align text to the left */
  color: #ffffff
}

td {
  border: 1px solid #332d44; /* Green border for cells */
  font-size: 14px;
  padding: 17px; /* Add padding for better spacing */
  text-align: left; /* Align text to the left */
}

td {
  color: #434343;
  background-color: #ffffff; /* Light gray background for cells */
}

.cover-block {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(99, 99, 99);
  opacity: 1;
  transition: opacity 0.3s;
}
.word-container {
  position: relative;
  display: inline-block;
}
.word-container:hover .cover-block {
  opacity: 0;
}

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 16px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0 12px;
  max-height: 0; /* Initial height */
  overflow: hidden; /* Hide content */
  transition: max-height 0.2s ease-out; /* Animate height */
  background-color: #f1f1f1;
  width: 100%; /* Ensures full width under the button */
  box-sizing: border-box;
}


.container {
  padding: 20px; /* Spacing inside the container */
  background-color: #f4f4f495; /* Light gray background */
  width: 85%; 
  margin: auto; /* Center horizontally */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Optional shadow */
  text-align: center; /* Center text inside the container */
  box-sizing: border-box;

}

.end-container {
  width: 100%; /* Full width */
  background-color: #f8f8f8; /* Light background for contrast */
  text-align: center; /* Center text */
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow above */
  padding-top: 20px;
  padding-bottom: 20px;
}

.image-container {
  display: inline-block;
  text-align: center; /* Center the caption text */
  margin: 10px; /* Space between images */
  flex: 1 1 200px; /* Flexible basis for images */
  max-width: 300px; /* Maximum width for each image container */
}


.responsive-image {
  height: 500px;
  margin: 10px;
}

.icon-image{
  height: 400px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.8); /* Black background with transparency */
  justify-content: center; /* Center the modal content */
  align-items: center; /* Center the modal content */
}
.modal-content {
  max-width: 90%; /* Responsive modal content */
  max-height: 90%; /* Responsive modal content */
}
.close {
  position: absolute;
  top: 20px;
  right: 30px;
  color: white;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}

.floating-image {
  position: fixed; /* Use absolute positioning */
  height: 680px;
  top: 19%; 
  right: -140px; /* Spacing from the right edge */
  z-index: 1000; /* Ensure it's on top */
}

.sound-button {
  background-color: transparent; /* No background */
  border: none; /* No border */
  cursor: pointer; /* Pointer cursor */
  font-size: 14px; /* Icon size */
}

.sound-button:hover {
  color: #555; /* Change color on hover */
}

@media (max-width: 768px) {


  .navbar{
    height: 6.5%;
  }
  .floating-image {
    display: none;
  
  }

  table {
    width: 100%; /* Full width on mobile */
    border-collapse: collapse;
}

  th, td {
    padding: 10px; /* Add padding for table cells */
    font-size: 14px;
    text-align: left; /* Align text to the left */
    border: 1px solid #5f5f5f;
  }
  .container{
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
  }


}